# Default ignored files
/shelf/
/.idea
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/node_modules/

/hs_err_pid70896.log
/hs_err_pid4260.log
