/* commodities.css */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.input-group {
    width: 100%;
}

.form-control {
    width: 100%;
    border-radius: 5px;
}

.form-inline {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: 265px;
    height: 95px;
}
