.header-container {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;

}

/*.navbar-brand {*/
/*    width: 90%;*/
/*    height: 10%;*/
/*}*/

.info-container {
    display: flex;
    align-items: center;
}

.username {
    margin-right: 38px;
    margin-top: 17px;
    color: #593C1C;
}

.cart-container {
    background: #F7F0E9;
    margin-right: 55px;
    border-radius: 15px;
}

.cart {
    margin: 17px 17px 17px 13px;
    color: #593C1C;
}
.cartNum {
    color: #593C1C;
    margin: 17px 17px 17px 25px;
}

.container {
}

.product-container {
    /*margin-left: 1%;*/
}

.product-image img {
    margin-top: 25%;
    width: 50%;
    height: 70%;
}

.img {
    margin-top: 35%;
    width: 60%;
    height: 65%;
}

.priceAdd {
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.add-btn {
    position: relative;
    background: #FFFFFF;
    border-radius: 15px;
    font-style: normal;
    text-align: center;
    color: #593C1C;
}

.rating {
    display: inline-block;
    font-size: 0;
    position: relative;
}
.rating .star {
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    color: #ccc;
}
.rating .star:before {
    content: "\2605";
}
.rating .star.active:before,
.rating .star:hover:before {
    content: "\2605";
    color: yellow;
}


.rating-container {
    display: flex;
    align-items: center;
}
.rating-container label {
    margin-right: 10px;
}
.rating-container input[type="range"] {
    flex-grow: 1;
    margin-right: 10px;
}
.rating-container button {
    margin-left: 10px;
}

/*.comment1 {*/
/*    background: #FFFFFF;*/
/*    border-radius: 15px;*/
/*    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
/*}*/

/*.comment2 {*/
/*    background: #FFFFFF;*/
/*    border-radius: 15px;*/
/*    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
/*}*/